## About the Data

- Data is collected from 2016 to 2021.
- Contains Loan & payment information.
- The customer information is aggregated to ensure information is unidentifiable.

## Import Libraries

In [114]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

## Settings for Pandas

In [115]:
# Sets column width to show full information
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

# Sets describe function to show full numerical value
pd.set_option('float_format', '{:f}'.format)

## Preparing dataframe
- Read the data into a dataframe
- Check for null values

In [116]:
# Read data into a dataframe
df = pd.read_excel('../data/loan_data.xlsx')
df.head()

,ID,UEN Black Listed,SSIC,Industry,Loan ID,Product,Amount,Disbursal Amount,Insured,Disbursal Fee,Payment Amount,Due Date,Weekday,Day,Month,Year,Payment_Num,Defaulted,Is Paid,Loan Status,Funding Date,Expected First Payment Date,Interest Rate,Tenor,Status,Delinquent,Delinquent Amount,Date of First Delinquency,First Payment Date
0,1000513,1,46900,Wholesale trade of a variety of goods without a dominant product,484,1,100000.000000,99000.000000,0,1000.000000,18166.670000,2016-09-04,7,4,9,2016,1,0,1,Repaid in Full,2016-03-04,2016-04-09,1.500000,6,Closed - Obligations met,0,0.000000,2016-08-04,2016-04-04
1,1000513,1,46900,Wholesale trade of a variety of goods without a dominant product,484,1,100000.000000,99000.000000,0,1000.000000,18166.670000,2016-08-04,4,4,8,2016,2,1,1,Repaid in Full,2016-03-04,2016-04-09,1.500000,6,Closed - Obligations met,0,0.000000,2016-08-04,2016-04-04
2,1000513,1,46900,Wholesale trade of a variety of goods without a dominant product,484,1,100000.000000,99000.000000,0,1000.000000,18166.670000,2016-07-04,1,4,7,2016,3,0,1,Repaid in Full,2016-03-04,2016-04-09,1.500000,6,Closed - Obligations met,0,0.000000,2016-08-04,2016-04-04
3,1000513,1,46900,Wholesale trade of a variety of goods without a dominant product,484,1,100000.000000,99000.000000,0,1000.000000,18166.670000,2016-06-04,6,4,6,2016,4,0,1,Repaid in Full,2016-03-04,2016-04-09,1.500000,6,Closed - Obligations met,0,0.000000,2016-08-04,2016-04-04
4,1000513,1,46900,Wholesale trade of a variety of goods without a dominant product,484,1,100000.000000,99000.000000,0,1000.000000,18166.670000,2016-05-04,3,4,5,2016,5,0,1,Repaid in Full,2016-03-04,2016-04-09,1.500000,6,Closed - Obligations met,0,0.000000,2016-08-04,2016-04-04

In [117]:
# Checking datatype for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25597 entries, 0 to 25596
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           25597 non-null  int64
 1   UEN Black Listed             25597 non-null  int64
 2   SSIC                         25597 non-null  int64
 3   Industry                     25597 non-null  object
 4   Loan ID                      25597 non-null  int64
 5   Product                      25597 non-null  int64
 6   Amount                       25597 non-null  float64
 7   Disbursal Amount             25597 non-null  float64
 8   Insured                      25597 non-null  int64
 9   Disbursal Fee                25597 non-null  float64
 10  Payment Amount               25597 non-null  float64
 11  Due Date                     25597 non-null  datetime64[ns]
 12  Weekday                      25597 non-null  int64
 13  Day                          25597 non-null  int64
 14  Month                        25597 non-null  int64
 15  Year                         25597 non-null  int64
 16  Payment_Num                  25597 non-null  int64
 17  Defaulted                    25597 non-null  int64
 18  Is Paid                      25597 non-null  int64
 19  Loan Status                  25597 non-null  object
 20  Funding Date                 24880 non-null  datetime64[ns]
 21  Expected First Payment Date  25597 non-null  datetime64[ns]
 22  Interest Rate                25597 non-null  float64
 23  Tenor                        25597 non-null  int64
 24  Status                       25597 non-null  object
 25  Delinquent                   25597 non-null  int64
 26  Delinquent Amount            25597 non-null  float64
 27  Date of First Delinquency    5295 non-null   datetime64[ns]
 28  First Payment Date           25597 non-null  datetime64[ns]
dtypes: datetime64[ns](5), float64(6), int64(15), object(3)
memory usage: 5.7+ MB

In [118]:
# Check for null values
df.isnull().sum()

ID                                 0
UEN Black Listed                   0
SSIC                               0
Industry                           0
Loan ID                            0
Product                            0
Amount                             0
Disbursal Amount                   0
Insured                            0
Disbursal Fee                      0
Payment Amount                     0
Due Date                           0
Weekday                            0
Day                                0
Month                              0
Year                               0
Payment_Num                        0
Defaulted                          0
Is Paid                            0
Loan Status                        0
Funding Date                     717
Expected First Payment Date        0
Interest Rate                      0
Tenor                              0
Status                             0
Delinquent                         0
Delinquent Amount                  0
Date of First Delinquency      20302
First Payment Date                 0
dtype: int64

**Null values are present in "Funding Date" and "Date of First Delinquency", we need to clean this up.**

In [119]:
# Dropping Partial Applications **Incomplete loan applications
df = df[df['Status']!="Partial Application"]

# Replace null values to zero
df.fillna(0, inplace=True)

In [120]:
# Check for changes
df.isnull().sum()

ID                             0
UEN Black Listed               0
SSIC                           0
Industry                       0
Loan ID                        0
Product                        0
Amount                         0
Disbursal Amount               0
Insured                        0
Disbursal Fee                  0
Payment Amount                 0
Due Date                       0
Weekday                        0
Day                            0
Month                          0
Year                           0
Payment_Num                    0
Defaulted                      0
Is Paid                        0
Loan Status                    0
Funding Date                   0
Expected First Payment Date    0
Interest Rate                  0
Tenor                          0
Status                         0
Delinquent                     0
Delinquent Amount              0
Date of First Delinquency      0
First Payment Date             0
dtype: int64

In [121]:
df.to_excel('../data/loans.xlsx',index=False)

In [122]:
df['Defaulted'].value_counts()

0    20927
1     3953
Name: Defaulted, dtype: int64